/* colors
-------------------------------------------------------------------*/
/* media queries
-------------------------------------------------------------------*/
/* color classes
-------------------------------------------------------------------*/
.bg-teal {
  background: #387B85 !important;
  color: #FFFFFF;
}
.bg-teal .section-title-line::after {
  background: #FFFFFF;
}
.bg-teal-light {
  background: #ABD9D6 !important;
}
.bg-teal-dark {
  background: #6DB8BB !important;
}

.bg-gray-light {
  background: #F5F8F8 !important;
}
.bg-gray-dark {
  background: #454D5A !important;
  color: #FFFFFF;
}
.bg-gray-dark .section-title-line::after {
  background: #FFFFFF;
}

.bg-black {
  background: #0B1410 !important;
  color: #FFFFFF;
}
.bg-black .section-title-line::after {
  background: #FFFFFF;
}

.bg-white {
  background: #FFFFFF !important;
}

.bg-yellow {
  background: #FDC002 !important;
}

.bg-tan {
  background: #EADECE !important;
}

.bg-orange {
  background: #EA7A45 !important;
}

.bg-blue {
  background: #ABC1CC !important;
}

.bg-brown-light {
  background: #D6C6B5 !important;
}

.bg-navy {
  background: #516C7D !important;
  color: #FFFFFF;
}
.bg-navy .section-title-line::after {
  background: #FFFFFF;
}

.c-teal {
  color: #387B85 !important;
}
.c-teal-light {
  color: #ABD9D6 !important;
}
.c-teal-dark {
  color: #6DB8BB !important;
}

.c-gray-light {
  color: #F5F8F8 !important;
}
.c-gray-dark {
  color: #454D5A !important;
  color: #FFFFFF;
}

.c-black {
  color: #0B1410 !important;
}

.c-white {
  color: #FFFFFF !important;
}

.c-yellow {
  color: #FDC002 !important;
}

.c-tan {
  color: #EADECE !important;
}

.c-orange {
  color: #EA7A45 !important;
}

.c-blue {
  color: #ABC1CC !important;
}

.c-brown-light {
  color: #D6C6B5 !important;
}

.c-navy {
  color: #516C7D !important;
}

/* mixins
-------------------------------------------------------------------*/
#map-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  #map-container {
    flex-direction: row;
  }
}
#map {
  height: 500px !important;
  width: 100%;
  margin-bottom: 25px;
}
@media (min-width: 992px) {
  #map-container #map {
    width: 50%;
    margin-bottom: 0;
  }
}
#map-controls {
  width: 100%;
}
@media (min-width: 992px) {
  #map-controls {
    width: 50%;
  }
}
#map-location-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60px;
  padding-left: 1em;
  border: solid 1px rgba(69, 77, 90, 0.2);
  background-color: #F0F0F0;
}
#map-list {
  max-height: 440px;
  width: 100%;
  overflow-y: scroll;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
}
@media (min-width: 992px) {
  #map-list {
    height: 440px;
    margin: 0;
  }
}
#map-list a {
  display: inline-block;
  padding: 7px 0;
  width: 100%;
}
#map-list a:hover {
  text-decoration: none;
}

#map-list a .map-list-item-line1 {
  font-size: 15px;
  margin-bottom: 3px;
}

#map-list a .map-list-item-line2 {
  font-size: 13px;
}

#map-controls > .container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
@media (min-width: 992px) {
  #map-controls > .container {
    height: 100px;
  }
}
@media (min-width: 576px) {
  #map-location-search {
    flex-direction: row;
  }
}

#pac-input {
  font-size: 16px;
  padding: 10px 5px;
  width: calc(100% - 20px);
}
@media (min-width: 576px) {
  #pac-input {
    top: 10px !important;
    left: 212px !important;
    width: 300px;
  }
}
@media (min-width: 992px) {
  #pac-input {
    width: 250px;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  #pac-input {
    width: 300px;
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}
.spinner-grow {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow 0.75s linear infinite;
  color: #454D5A;
}
