@import './../../../themes/emdr/scss/variables.scss';


.map-container {
    display: flex;
    flex-direction: column;
    @include lg {
        flex-direction: row;
    }
    #map {
        height: 500px !important;
        width: 100%;
        margin-bottom: 25px;
        @include lg {
            width: 50%;
            margin-bottom: 0;
        }
    }
    .map-controls {
        width: 100%;
        @include lg {
            width: 50%;
        }
        #map-list {
            max-height: 400px;
            width: 100%;
            overflow-y: scroll;
            list-style-type: none;
            padding: 0;
            margin: 10px 0 0 0;
            @include lg {
                height: 400px;
                margin: 0;
            }
            a {
                display: inline-block;
                padding: 10px 0;
                width: 100%;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        & > .container {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            @include lg {
                height: 100px;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include sm {
                flex-direction: row;
            }
            #name-filter {
                width: 100%;
                margin-bottom: 10px;
                @include sm {
                    // full width - button width - amount of space between btn and input
                    width: calc(100% - 114px - 25px);
                }
                @include lg {
                    width: 400px;
                }
            }
            input[type="submit"] {
                margin-bottom: 10px;
                align-self: flex-start;
                @include sm {
                    align-self: center;
                    margin-left: auto;
                }
            }
        }
    }
    #pac-input {
        font-size: 16px;
        padding: 10px 5px;
        top: 69px !important;
        left: 10px !important;
        width: calc(100% - 20px);
        @include sm {
            top: 10px !important;
            left: 212px !important;
            width: 300px;
        }
        @include lg {
            width: 250px;
            font-size: 14px;
        }
        @include xl {
            width: 300px;
        }
    }
}

$spinner-width: 20px;
$spinner-height: 20px;

@keyframes spinner-grow {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
  }

  .spinner-grow {
    display: inline-block;
    width: $spinner-width;
    height: $spinner-height;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    animation: spinner-grow .75s linear infinite;
    color: #454D5A;
  }